<%= simple_form_for milestone, url: goal_milestone_path(goal, milestone) do |f| %>
    <%= f.input :description %>
    <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit %>
    <%= link_to goal_milestone_path(goal, milestone), method: :delete, data: { confirm: 'Are you sure you want to delete? Think about your main goal!' } do %>

    <% end %>
  </div>
<% end %>
