<div class="mb-4">
    <h1 class="text-grey-darkest">Milestones</h1>
    <div class="flex mt-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" placeholder="Add Todo">
        <%= link_to 'Add', milestones_path, class: "flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal" %>
    </div>
</div>
<% @milestones.each do |milestone| %>
  <%= milestone.description %>
  <%= milestone.deadline %>
  <%= link_to 'Edit', edit_milestone(milestone) %>
  <%= link_to 'Delete', milestone_path(milestone), method: :delete, data: { confirm: 'Are you sure you want to delete? Think about your main goal!' } %>
<% end %>
