<div class="body pt-16 sm:pt-32 bg-gray-100">
  <div class="modal-content py-8 sm:py-4 text-left px-6 border-t-8 border-purple-700 bg-white p-4 w-full sm:max-w-md mx-auto">
    <!--Title-->
    <h2 class="text-2xl font-bold text-gray-700 text-center mb-5">Sign up</h2>
    <!--Body-->
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification%>

      <div class="form-inputs">
        <div class="flex items-end">
          <!-- INPUT PHOTO -->
          <%= f.input :photo, input_html: { class: 'invisible', id: 'photo-input'}, label_html: { class: ' mr-10 p-3 border border-gray-200 text-3xl text-gray-600 bg-gray-200 rounded-lg px-auto hover:bg-gray-300 hover:border-gray-300'}, label: ('<i class="fa fa-camera fa-2x"></i>').html_safe, wrapper_html: { class: 'w-24' } %>

          <!-- INPUT PHOTO PREVIEW  -->
            <%= image_tag "", class: "hidden w-24 h-24 bg-gray-100 object-cover rounded-full ml-5 mb-2", id: "photo-preview" %>
        </div>
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { class: "input", autocomplete: "First name" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { class: "input", autocomplete: "Last name" }%>
        <%= f.input :address,
                    required: true,
                    autofocus: true,
                    input_html: { class: "input", autocomplete: "Address" }%>
        <%= f.input :city,
                    required: true,
                    autofocus: true,
                    input_html: { class: "input", autocomplete: "City" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { class: "input", autocomplete: "Email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { class: "input", autocomplete: "new-password", style: "margin-bottom: 0 !important;" },
                    hint_html: { class: "mt-1 mb-4 ml-2"} %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { class: "input", autocomplete: "new-password" } %>
      </div>

      <!--Footer-->
      <div class="flex justify-center pr-12 md:pr-0 pt-2">
        <div class="form-actions mr-6">
          <%= f.button :submit, "Sign in" %>
        </div>
        <div class="my-auto cursor-pointer text-gray-600">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- <div class="flex justify-center pr-12 md:pr-0 mt-10">
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
  </div> -->

</div>
