<div class="bg-white md:rounded md:mt-5 border-b p-5 w-full flex items-center md:border-2 md:rounded-lg border-gray-300">
  <div class="w-full">
    <div class="flex justify-between">
      <div class="flex mb-5">
        <div class="">
          <%= image_tag "#{comment.user.photo}", class:" h-10 w-10 rounded-full object-cover mx-auto" %>
        </div>
        <div class="w-5/6 lg:w-11/12 mx-3">
          <p>
            <%=
              link_to "#{comment.user.first_name} #{comment.user.last_name}",
              user_path(comment.user),
              class: "text-blue-600 font-bold"
            %>
          </p>
          <p class="text-xs text-blue-500"><%= comment.created_at %></p>
        </div>
      </div>

      <% if comment.user == current_user %>
        <%= link_to comment_path(comment), method: :delete, class:"text-xs text-gray-500 hover:text-gray-700 transition-soft" do %>
        <%= fa_icon "far trash 2x" %>
        <% end %>
      <% end %>
    </div>
    <p class="text-gray-600"> <%= comment.content %></p>
  </div>
</div>
