<div id="publications" class="publications-list">
  <div class="flex flex-col md:flex-row items-start mb-5 w-full md:pl-2 px-10 md:pr-8 pb-3 md:rounded-lg border-2 border-gray-200 bg-white">
        <!-- IMAGE ACCORDING TO PUBLICATION TYPE -->
        <div class="lg:flex-col items-center w-full md:w-16 lg:w-1/12 mt-4 flex-shrink-0 mx-1">
          <% if  publication.publication_type.name == 'News' || publication.publication_type.name == 'Question' %>
            <%= cl_image_tag publication.user.photo, height: 50, width: 50, class: "publication-img md:mr-2 rounded-full float-none mx-auto border-2 border-white" %>
          <% else %>
          <div class="h-24 md:h-16">
            <%= render 'publications/publication_image', publication: publication %>

          </div>
          <% end %>
        </div>

        <div class="flex flex-col md:w-5/6 lg:w-11/12 pt-2 lg:pt-4 lg:pl-0" >
          <!-- TITLE -->
          <%= link_to publication_path(publication) do %>
            <h2 class="font-bold mt-2 lg:mt-0 text-md md:text-lg mb-1 text-left"><%= publication.title %></h2>
          <% end %>

          <!-- META -->
          <div>
            <p class="text-gray-500 text-xs md:text-sm mb-4 mx-auto md:ml-0">
              Posted by
              <%= link_to "#{publication.user.first_name}", user_path(publication.user),
                class: "italic underline"  %>
              <% if publication.community %>
                in
                <%= link_to "#{publication.community.name}", community_path(publication.community),
                  class: "italic underline" %>,
              <% end %>
              on
              <%= publication.created_at.strftime('%d/%m/%Y at %I:%M') %>
            </p>
          </div>

          <!-- CONTENT -->
          <div class="text-gray-900 mb-4 lg:mb-2 text-left text-xs md:text-md">
            <span data-shown-text="<%= publication.id %>" class="flex flex-col-reverse md:flex-row">
                <!-- PUBLICATION IMAGE -->
                <a href="#" class="read-toggle md:mr-6 mt-2 md:mt-0" data-read-more="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                  <img src="https://source.unsplash.com/random" alt="posted-pic" class=" w-full md:w-64 h-20 rounded object-cover">
                </a>
                <div class="">
                  <%= (publication.content.first(300)) %>
                  <a href="#" class="read-toggle text-gray-500 font-bold" data-read-more="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                    <% if publication.content.size > 300  %>
                      ...read more
                    <% end %>
                  </a>
                </div>
            </span>

            <!-- HIDDEN CONTENT -->
            <span class="hidden-text hidden publication-content" data-hidden-text="<%= publication.id %>">
              <%= simple_format(publication.content) %>
              <a href="#" class="read-toggle text-gray-500 font-bold hidden" data-read-less="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                  ^ hide
              </a>
              <hr class="mt-4 mb-8">
                <!-- PUBLICATION IMAGE -->
                <img src="https://source.unsplash.com/random" alt="">
            </span>
          </div>

          <!-- BUTTONS -->
          <div class="flex justify-end items-center pb-3 lg:pb-0">
            <div class="flex items-center flex-shrink-0 ml-1 md:ml-10">
              <a href="/publications/<%= publication.id %>/#comments" class="text-gray-600 text-xs lg:text-sm flex-shrink-0" data-comments-button='<%= publication.id %>'>
                  <span class="p-2 md:p-3 px-2">
                    <%= publication.comments.count %>
                    <i class="text-xs">Comments</i>
                  </span>
              </a>

              <p data-claps-button='<%= publication.id %>'
                <% if Clap.find_by(user: current_user, publication: publication).nil? %>
                  class="text-gray-600 text-xs lg:text-sm flex-shrink-0 ml-2 rounded"
                <% else %>
                  class="text-white bg-gray-500 text-xs lg:text-sm flex-shrink-0 ml-2 rounded"
                <% end %>
              >
                <%= link_to new_publication_clap_path(publication), remote: true,class: "p-2 md:p-3" do%>
                  <span data-clapID="<%= publication.id %>"><%= publication.claps.count %></span>
                  <i class="text-xs">Claps</i>
                <% end %>
              </p>
            </div>

          </div>
        </div>
      </div>
</div>
