<div id="publications" class="publications-list">
  <div class="flex flex-col md:flex-row items-start md:mb-5 w-full md:pl-2 px-10 md:pr-8 pb-3 md:rounded-lg border-2 <%= publication.publication_type.name == 'Pleasure' ? "border-orange-100 bg-orange-100" : "border-gray-300 bg-white" %> ">
        <!-- IMAGE ACCORDING TO PUBLICATION TYPE -->
        <div class="lg:flex-col items-center w-full md:w-16 lg:w-1/12 mt-4 mx-1">
          <% if  publication.publication_type.name == 'News' || publication.publication_type.name == 'Question' %>
            <% if publication.user.photo.present? %>
              <%= cl_image_tag publication.user.photo, height: 50, width: 50, class: "publication-img md:mr-2 rounded-full float-none mx-auto border-2 border-white" %>
            <% else %>
              <%= image_tag "icons/avatar.png", class: "h-12 w-12 publication-img md:mr-2 rounded-full float-none mx-auto border-2 border-white object-cover" %>
            <% end %>
          <% else %>
          <div class="h-24 md:h-16">
            <%= render 'publications/publication_image', publication: publication %>
          </div>
          <% end %>
        </div>
        <div class="flex flex-col md:w-full lg:w-11/12 pt-2 lg:pt-4 lg:pl-0" >
          <!-- TITLE -->
          <%= link_to publication_path(publication) do %>
            <h2 class="font-bold mt-2 lg:mt-0 text-md md:text-lg mb-1 text-left"><%= publication.title %></h2>
          <% end %>
          <!-- META -->
          <div>
            <p class=" text-xs md:text-sm mb-4 mx-auto md:ml-0 <%= publication.publication_type.name == 'Pleasure' ? "text-gray-700" : "text-gray-500" %>">
              Posted by
              <%= link_to "#{publication.user.first_name}", user_path(publication.user),
                class: "italic underline"  %>
              <% if publication.community %>
                in
                <%= link_to "#{publication.community.name}", community_path(publication.community),
                  class: "italic underline" %>,
              <% end %>
              on
              <%= publication.created_at.strftime('%d/%m/%Y at %I:%M') %>
            </p>
          </div>
          <!-- CONTENT -->
          <div class="text-gray-900 mb-4 lg:mb-2 text-left text-xs md:text-md">
            <span data-shown-text="<%= publication.id %>" class="flex flex-col-reverse md:flex-row">
                <!-- PUBLICATION IMAGE -->
                <% if publication.photo.url %>
                  <a href="#" class="read-toggle md:mr-6 mt-2 md:mt-0 w-1/6" data-read-more="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                    <%= cl_image_tag publication.photo, height: 50, width: 50, class: "w-full md:w-64 h-20 rounded object-cover" %>
                  </a>
                <% end %>
                <div class="w-5/6">
                  <%= (publication.content.first(300)) %>
                  <a href="#" class="read-toggle text-gray-500 font-bold" data-read-more="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                    <% if publication.content.size > 300  %>
                      ...read more
                    <% end %>
                  </a>
                </div>
            </span>
            <!-- HIDDEN CONTENT -->
            <span class="hidden-text hidden publication-content" data-hidden-text="<%= publication.id %>">
              <%= simple_format(publication.content) %>
              <a href="#" class="read-toggle text-gray-500 font-bold hidden" data-read-less="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                  ^ hide
              </a>
              <hr class="mt-4 mb-8">
                <!-- PUBLICATION IMAGE -->
                <% if publication.photo.url %>
                  <%= cl_image_tag publication.photo, class: 'posted-pic-full' %>
                <% end %>
            </span>
          </div>
          <!-- BUTTONS -->
          <div class="flex justify-end items-center pb-3 lg:pb-0">
            <div class="flex items-end flex-shrink-0 ml-1 md:ml-10">
              <a href="/publications/<%= publication.id %>/#comments" class="text-gray-600 text-xs lg:text-sm flex-shrink-0 <%= publication.publication_type.name == 'Pleasure' ? "text-gray-600" : "text-gray-500" %>" data-comments-button='<%= publication.id %>'>
                  <span class="p-2 md:p-3 px-2">
                    <%= publication.comments.count %>
                    <i class="text-xs">Comments</i>
                  </span>
              </a>
              <p data-claps-button='<%= publication.id %>'
                <% if Clap.find_by(user: current_user, publication: publication).nil? %>
                  class="text-gray-500 hover:text-gray-600  text-xs lg:text-sm flex-shrink-0 ml-2 rounded <%= publication.publication_type.name == 'Pleasure' ? "text-gray-600" : "text-gray-500" %>"
                <% else %>
                  class="text-orange-500 font-bold text-lg lg:text-sm flex-shrink-0 ml-2"
                <% end %>
              >
                <%= link_to new_publication_clap_path(publication), remote: true,class: "p-2 md:p-3 align-bottom" do%>
                  <span class=" mr-2" data-clapID="<%= publication.id %>"><%= publication.claps.count %></span>
                  <%= fa_icon "fas sign-language 2x" %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
</div>
