<div id="publications" class="publications-list">
  <div class="flex flex-col lg:flex-row items-center mb-5 w-full shadow rounded-lg border border-gray-200 bg-white">
        <div class="flex lg:flex-col items-center w-1/6 flex-shrink-0 mx-1">
          <img alt="newspaper icon" class="mt-8 mb-12 lg:my-0 w-12"
            <% if publication.publication_type.name == 'News' %>
              src="https://image.flaticon.com/icons/svg/126/126115.svg"
            <% elsif publication.publication_type.name == 'Question' %>
              src="https://image.flaticon.com/icons/svg/54/54591.svg"
            <% elsif publication.publication_type.name == 'Pleasure' %>
              src="https://image.flaticon.com/icons/svg/149/149220.svg"
            <% elsif publication.publication_type.name == 'Frustration' %>
              src="https://image.flaticon.com/icons/svg/596/596092.svg"
            <% end %>
          >
        </div>

        <!-- TITLE -->
        <div class="flex flex-col lg:w-5/6 p-4 lg:p-8 lg:pl-0">
          <%= link_to publication_path(publication) do %>
            <h2 class="font-bold mb-2 mt-5 lg:mt-0 text-lg text-left"><%= publication.title %></h2>
          <% end %>

          <!-- CONTENT -->
          <div class="text-gray-600 mb-16 lg:mb-8 text-left">
            <span data-shown-text="<%= publication.id %>">
              <%= (publication.content.first(100)) %>
              <a href="#" class="read-toggle text-blue-300 font-bold" data-read-more="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                <% if publication.content.size > 100  %>
                  ...read more
                <% end %>
              </a>
            </span>

            <!-- HIDDEN CONTENT -->
            <span class="hidden-text hidden publication-content" data-hidden-text="<%= publication.id %>">
              <%= simple_format(publication.content) %>
              <a href="#" class="read-toggle text-blue-300 font-bold hidden" data-read-less="<%= publication.id %>" data-read-toggle="<%= publication.id %>">
                  ^ hide
              </a>
            </span>
          </div>

          <!-- META AND BUTTONS -->
          <div class="flex justify-between items-center pb-3 lg:pb-0">

            <!-- META -->
            <div>
              <p class="text-blue-300 text-sm">
                Posted by
                <%= link_to "#{publication.user.first_name}", dashboard_path(publication.user),
                  class: "italic underline"  %>
                <% if publication.community %>
                  in
                  <%= link_to "#{publication.community.name}", community_path(publication.community),
                    class: "italic underline" %>,
                <% end %>
                on
                <%= publication.created_at.strftime('%d/%m/%Y at %I:%M') %>
              </p>
            </div>

            <!-- BUTTONS -->
            <div class="flex items-center flex-shrink-0 ml-1 md:ml-10">
              <a href="/publications/<%= publication.id %>/#comments" class="text-blue-300 text-xs lg:text-sm flex-shrink-0" data-comments-button='<%= publication.id %>'>
                  <span class="p-2 md:p-3 px-2">
                    <%= publication.comments.count %>
                    <i class="text-xs">Comments</i>
                  </span>
              </a>

              <p data-claps-button='<%= publication.id %>'
                <% if Clap.find_by(user: current_user, publication: publication).nil? %>
                  class="text-blue-300 text-xs lg:text-sm flex-shrink-0 ml-2 rounded"
                <% else %>
                  class="text-white bg-blue-300 text-xs lg:text-sm flex-shrink-0 ml-2 rounded"
                <% end %>
              >
                <%= link_to new_publication_clap_path(publication), remote: true,class: "p-2 md:p-3" do%>
                  <span data-clapID="<%= publication.id %>"><%= publication.claps.count %></span>
                  <i class="text-xs">Claps</i>
                <% end %>
              </p>
            </div>

          </div>
        </div>
      </div>
</div>
