<% if current_user == @user %>
  <div class="modal-new-post opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-new-post-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    <div class="modal-container bg-white w-screen h-screen md:h-auto md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left px-6 border-t-8 border-purple-700">
        <!--Title-->
        <div class="flex justify-between items-center py-3">
          <div class="m-auto">
            <p class="text-2xl font-bold text-gray-700 text-center">New Goal</p>
          </div>
          <div class="modal-new-post-close cursor-pointer z-50">
            <svg class="fill-current text-gray-700" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>
        <!--Body-->
        <% if request.env['PATH_INFO'].include?("communities")%>

          <%= simple_form_for([ community, publication ], url: community_publications_path(community), remote: true) do |f|%>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.association :publication_type, collection: PublicationType.where(name: ['News', 'Question']) %>
            <%= f.association :community, :as => :hidden, :input_html => { :value => community.id } %>
            <%= f.button :submit, as: " " %>
          <% end %>

        <% else %>

          <%= simple_form_for([publication], url: publications_path, remote: true) do |f|%>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.association :publication_type, collection: PublicationType.where(name: ['Pleasure', 'Frustration']) %>
            <%= f.button :submit, as: " " %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
<% end %>
