<div class="body bg-gray-100 mb-12">
  <div class="md:mx-5 md:mt-5 ">
    <% if @publication.community %>
      <%= link_to community_path(@publication.community), class:"text-gray-600 text-md font-semibold hover:text-gray-700 transition-soft" do%>
        <%= fa_icon "fas arrow-left" %>
        <%= @publication.community.name %>
      <% end %>
    <% end %>
  </div>

  <div class="">
    <% unless @publication.community %>
      <%= link_to user_path(@publication.user), class:"md:mx-5 md:mt-5 text-gray-600 text-md font-semibold hover:text-gray-700 transition-soft" do%>
        <%= fa_icon "fas arrow-left" %>
        <%= @publication.user.first_name %>
        <%= @publication.user.last_name %>
      <% end %>
    <% end %>
  </div>

  <div class="md:w-3/4 md:mx-auto mt-1 md:my-4 md:flex p-10 bg-white md:rounded-lg border-2 border-gray-300">
    <div class="min-w-full">
      <!-- TITLE -->
      <h1 class="text-2xl font-bold"><%= @publication.title %></h1>
      <hr class="mt-4 mb-2">

      <!-- META -->
      <div class="flex justify-between items-center pb-3 md:pb-0 mb-10">
        <p class="text-gray-500 text-sm">
          <%= @publication.publication_type.name %>
          posted by
          <%= link_to "#{@publication.user.first_name}", user_path(@publication.user), class: "italic underline"  %>
          <% if @publication.community %>
            in
            <%= link_to "#{@publication.community.name}", community_path(@publication.community),
              class: "italic underline" %>,
          <% end %>
          on
          <%= @publication.created_at.strftime('%d/%m/%Y at %I:%M') %>
        </p>
      </div>

      <!-- CONTENT -->
      <div class="publication-content text-gray-700">
        <%= simple_format(@publication.content) %>
      </div>

      <!-- IMAGE -->
      <%= cl_image_tag @publication.photo, height: 300, width: 400, crop: :fill %>

      <!-- BUTTONS -->
      <div class= "flex justify-between items-end mt-10">
          <p data-claps-button='<%= @publication.id %>'
            <% if Clap.find_by(user: current_user, publication: @publication).nil? %>
              class="text-gray-500 hover:text-gray-600 text-xs lg:text-sm flex-shrink-0 ml-2 rounded"
            <% else %>
              class="text-orange-500 font-bold text-lg lg:text-sm flex-shrink-0 ml-2"
            <% end %>
          >
            <%= link_to new_publication_clap_path(@publication), remote: true,class: "p-2 md:p-3 align-bottom" do%>
              <%= fa_icon "fas sign-language 2x" %>
              <span class=" ml-1" data-clapID="<%= @publication.id %>"><%= @publication.claps.count %></span>
            <% end %>
          </p>

          <!-- DELETE PUBLICATION -->
          <% if @publication.user == current_user %>
            <%= link_to publication_path, method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
              <%= fa_icon "trash alt 2x", class: " mt-1 text-lg text-gray-500 text-center hover:text-gray-700" %>
            <% end %>
          <% end %>
      </div>


    </div>
  </div>

  <!-- COMMENTS -->
  <div id="comments" class="md:w-3/4 md:mx-auto">
    <h3 class="text-lg text-bold my-3 text-gray-600">Comments (<%= @publication.comments.count %>)</h3>
    <%= render 'comments/form', publication: @publication, comment: Comment.new, style: "height: 12rem;" %>

    <% @publication.comments.sort_by(&:created_at).each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  </div>



</div>
