<div class="pt-32">
  <!-- show room -->
  <div>
    <!-- show messages -->
    <div>
      <% @room.room_messages.each do |message| %>
      <%= render 'messages/message', message: message %>
      <% end %>
    </div>
    <!-- new message -->
    <div>
      <%= simple_form_for [@room, RoomMessage.new ], remote: true do |f| %>
      <%= f.input :content, label: false %>
      <% end %>
    </div>
  </div>
</div>


<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @room.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
