<!-- GOAL SESSION -->
<div class="flex overflow-x-scroll flex-no-wrap scroll sm:flex-wrap sm:overflow-visible py-5 pl-5">

  <% @goals.each do |goal| %>

    <!-- GOAL CARD -->
    <% if !goal.complete %>
      <%= link_to goal_path(goal), class:"scroll-card sm:block bg-white shadow-lg rounded-2xl pt-6 mr-4 p-4 w-56 h-64 text-center text-purple-700" do %>
        <span class="font-sans font-semibold text-5xl">
          <% done = goal.milestones.count { |milestone| milestone.complete == true } %>
          <% total = goal.milestones.length %>
          <%= done %>
        </span>
        <span class="font-sans font-bold text-2xl text-purple-700">
        / <%= total %>
        </span> <br>
        <span class="font-sans text-xs text-purple-700">
          completed so far
        </span>
        <h3 class="font-sans font-semibold text-base text-gray-800"><%= goal.title.upcase %></h3>
        <div class="bg-gray-200 rounded-full py-1 w-3/4 mx-auto mt-3">
          <span class="inline-block align-middle font-sans  font-medium text-xs text-gray-800">
            <%= (Date.today - goal.start_date).to_i %>
            focusing on it
          </span>
        </div>
      <% end %>
    <% end %>

  <% end %>
</div>
