<!-- GOAL SESSION -->
<div class="">
  <!-- MY GOALS -->
  <div id="my_goals" class="flex overflow-x-scroll flex-no-wrap scroll py-5 pl-5 sm:flex-wrap sm:overflow-visible sm:justify-center <%= "justify-center" if @my_goals.count == 1 %>">
    <% @my_goals.each do |goal| %>
      <!-- GOAL CARD -->
      <!-- GOAL CARD LEADS TO GOAL#SHOW -->
      <% if !goal.complete && (goal.user == current_user || goal.buddy == current_user) %>
        <%= link_to goal_path(goal), class: "scroll-card bg-white rounded-2xl mr-10 p-5 border-2 border-gray-300 w-56 text-center text-gray-600 sm:mb-4 sm:px-0 flex flex-col justify-between pt-10", style: "height: 20rem" do %>
          <p class="mb-4">
            <%= render 'goal_image_category', goal: goal %>
          </p>
          <h3 class="font-sans font-semibold text-base text-gray-800"><%= goal.title.upcase %></h3>
          <div class="bg-gray-200 rounded-full py-1 w-3/4 mx-auto mt-2 mb-4">
            <span class="inline-block align-middle font-sans font-medium text-xs text-gray-800">
              <% done = goal.milestones.count { |milestone| milestone.complete == true } %>
              <% total = goal.milestones.length %>
              <%= done %>
              / <%= total %> milestones done
            </span>
          </div>
        <% end %>

      <!-- GOAL CARD RENDERS INFOBOX WITH GOAL DETAILS -->
      <% elsif !goal.complete%>

        <button class="unclickable-goal scroll-card bg-white rounded-2xl mr-10 p-5 border-2 border-gray-300 w-56 text-center text-gray-600 sm:mb-4 sm:px-0 flex flex-col justify-between pt-10" style="height: 20rem" data-goal="<%= goal.id %>">
          <p class="mb-4">
            <%= render 'goal_image_category', goal: goal %>
          </p>
          <h3 class="font-sans font-semibold text-base text-gray-800"><%= goal.title.upcase %></h3>
          <div class="bg-gray-200 rounded-full py-1 w-3/4 mx-auto mt-2 mb-4">
            <span class="inline-block align-middle font-sans font-medium text-xs text-gray-800">
              <% done = goal.milestones.count { |milestone| milestone.complete == true } %>
              <% total = goal.milestones.length %>
              <%= done %>
              / <%= total %> milestones done
            </span>
          </div>
        </button>

      <% end %>
    <% end %>

    <% if current_user.goals.empty? && current_user == @user %>
      <a href="" class="modal-open-new-goal scroll-card bg-white shadow-lg rounded-2xl pt-6 mr-4 p-4 w-64 text-center text-purple-700 block sm:mb-4 sm:px-4 flex-col justify-between" do >
        <p class="font-sans text-xs mt-3 text-purple-700">
          create a
        </p>
        <p class="mb-12 font-sans font-semibold font-sans font-bold text-3xl text-purple-700">
          new goal
        </p>
        <h3 class="font-sans font-semibold text-base text-gray-800">Buddysteps is all about achieving your goals.</h3>
        <p class="inline-block align-middle p-2 mb-4 font-sans font-medium text-xs text-gray-700">
          Create new goals and start working on them. Get help from another member to set S.M.A.R.T. milestones and keep yourself accountable.
        </p>
      </a>
    <% end %>

  </div>

  <!-- INVISIBLE INFOBOXES -->
  <% @my_goals.each do |goal| %>
    <% if !goal.complete %>
      <% @goal = goal %>
      <% @milestones = goal.milestones %>
      <% @milestone = Milestone.new %>
      <%= render "goals/show_public" %>
    <% end %>
  <% end %>


  <!-- BUDDIES GOALS -->
  <% if request.env['PATH_INFO'].include?("dashboard")%>
    <% if current_user == @user %>
      <div id="buddies_goals" class="hidden flex overflow-x-scroll flex-no-wrap scroll py-5 pl-5 sm:flex-wrap sm:overflow-visible sm:justify-center">
        <% @buddies_goals.each do |goal| %>
          <!-- GOAL CARD -->
          <% if !goal.complete %>
            <%= link_to goal_path(goal), class: "relative scroll-card bg-white rounded-2xl mr-10 p-5 border-2 border-gray-300 w-56 text-center text-gray-600 sm:mb-4 sm:px-0 flex flex-col justify-between pt-10 absolute", style: "height: 20rem" do %>
              <%= cl_image_tag goal.user.photo, height: 80, width: 80, crop: :fill, class: "mx-auto rounded-full h-auto object-contain float-none absolute border-2 border-gray-300", style: "left: 150px; top: -20px;" %>
              <p class="mb-4">
                <%= render 'buddygoal_image_category', goal: goal %>
              </p>
              <h3 class="font-sans font-semibold text-base text-gray-800"><%= goal.title.upcase %></h3>
              <div class="bg-gray-200 rounded-full py-1 w-3/4 mx-auto mt-2 mb-4">
                <span class="inline-block align-middle font-sans font-medium text-xs text-gray-800">
                  <% done = goal.milestones.count { |milestone| milestone.complete == true } %>
                  <% total = goal.milestones.length %>
                  <%= done %>
                  / <%= total %> milestones done
                </span>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if @buddies_goals.empty? %>
          <div class="scroll-card bg-white shadow-lg rounded-2xl pt-6 mr-4 p-4 w-64 text-center text-purple-700 block sm:mb-4 sm:px-4 flex-col justify-between" do >
            <p class="font-sans text-xs mt-3 text-purple-700">
              be a good
            </p>
            <p class="mb-12 font-sans font-semibold font-sans font-bold text-3xl text-purple-700">
              buddy
            </p>
            <h3 class="font-sans font-semibold text-base text-gray-800">Be a buddy and help others achieve their goals.</h3>
            <p class="inline-block align-middle p-2 mb-4 font-sans font-medium text-xs text-gray-700">
              If you get an invitation to be someone's buddy and you accept it, her goal will be shown here, so you can stay up to date with your buddy's progress.
            </p>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
