<!-- large screen -->
<div class="hidden md:block">
  <% @buddies_goals.each do |buddy_goal| %>
    <% if buddy_goal.confirmed_buddy == false %>
      <div class="notification flex justify-between mt-3 mb-3 px-8 items-center today-card bg-orange-100 mx-16 h-20 rounded-custom border-l-8 border-orange-500 text-orange-600 hover:bg-orange-200 transition-soft" style="border-radius: 20px;">
        <div class="flex items-center">
          <%= link_to user_path(buddy_goal.user) do %>
            <%= cl_image_tag buddy_goal.user.photo, height: 65, width: 65, crop: :fill, class: "mr-5 rounded-full h-auto object-contain float-none border-2 border-white" %>
          <% end %>
          <div>
            <p class="text-md"><span class="">Be the buddy of <%= link_to "#{buddy_goal.user.first_name}", user_path(buddy_goal.user), class:"font-bold" %></span> for the new goal:</p>
            <p class="text-md font-bold capitalize"><%= link_to "#{buddy_goal.title}", goal_path(buddy_goal) %> ?</p>
          </div>
        </div>
        <div>
          <!-- <p class=" font-semibold">Be her buddy?</p> -->
          <div class="flex">
            <%= link_to confirm_buddy_goal_path(buddy_goal) do %>
              <div class="h-10 w-10 rounded-full flex justify-center items-center text-orange-100 bg-orange-500 cursor-pointer">
                <%= fa_icon "fal check 2x" %>
              </div>
            <% end %>
            <%= link_to cancel_buddy_goal_path(buddy_goal) do %>
              <div class="h-10 w-10 rounded-full flex justify-center items-center text-orange-500 border-2 border-orange-500 ml-5">
                <%= fa_icon "fal times" %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- small screen -->
<div class="md:hidden">
  <% @buddies_goals.each do |buddy_goal| %>
    <% if buddy_goal.confirmed_buddy == false %>
      <div class="notification flex justify-between items-center mt-3 mb-3 px-2 items-center today-card bg-orange-100 mx-2 h-12 rounded-custom border-l-8 border-orange-500 text-orange-600 hover:bg-orange-200 transition-soft" style="border-radius: 20px;">
        <div class="flex items-center">
          <%= link_to user_path(buddy_goal.user) do %>
            <%= cl_image_tag buddy_goal.user.photo, height: 40, width: 40, crop: :fill, class: "mr-3 rounded-full h-auto object-contain float-none border-2 border-white" %>
          <% end %>
          <div>
            <p class=" text-sm">Be the buddy of <span class="font-semibold"><%= link_to "#{buddy_goal.user.first_name}", user_path(buddy_goal.user) %></span> for the new goal:</p>
            <p class=" text-sm font-semibold capitalize"><%= link_to "#{buddy_goal.title}", goal_path(buddy_goal) %> ?</p>
          </div>
        </div>
        <div>
          <div class="flex">
            <%= link_to confirm_buddy_goal_path(buddy_goal) do %>
              <div class="h-6 w-6 rounded-full flex justify-center items-center text-orange-100 bg-orange-500 cursor-pointer">
                <%= fa_icon "far check" %>
              </div>
            <% end %>
            <%= link_to cancel_buddy_goal_path(buddy_goal) do %>
              <div class="h-6 w-6 rounded-full flex justify-center items-center text-orange-500 border-2 border-orange-500 ml-5">
                <%= fa_icon "fal times" %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
