<div class="body bg-gray-100">

  <!-- NOTIFICATIONS -->
  <%= render 'notifications'%>

  <!-- GOALS SESSION -->
  <div class="md:flex justify-between pt-3 p-4 md:px-24 mt-5">
      <h2 class="text-3xl text-gray-800 font-bold leading-none mb-3">Goals</h2>
      <!-- GOALS BUTTONS -->
      <% if current_user == @user %>
        <div class="flex justify-between md:justify-end">
          <!-- NEW GOAL BUTTON -->
          <div id="btn_new_goal" class="modal-open-new-goal cursor-pointer text-white bg-purple-600 text-sm font-semibold border-2 border-purple-600 px-3 py-1 h-8 mr-5 rounded-full hover:bg-purple-500 hover:border-purple-500 transition-soft flex-grow-0">
            <span class="m-auto">NEW GOAL</span>
          </div>
          <!-- GOALS CARDS FLIP -->
          <div class=" flex rounded-full bg-orange-200 border-orange-200 border-2 p-1 w-48 h-8 items-center">
            <div id="my_goals_icon" class="active cursor-pointer inline-flex text-orange-600 rounded-full w-1/2 h-6">
              <span class="m-auto text-sm font-semibold">My Goals</span>
            </div>
            <div id="buddies_goals_icon" class=" cursor-pointer inline-flex text-orange-600 rounded-full w-1/2 h-6">
              <span class="m-auto text-sm font-semibold">Buddies</span>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <!-- GOALS CARDS -->
  <%= render 'goal_cards' %>

  <!-- NEW GOAL MODAL -->
  <%= render 'goals/new_goal' %>

  <!-- MOOD GRAPH -->
  <% if @user == current_user %>
      <div class="pt-3 p-4 mt-20 md:px-24">
        <h2 class="text-3xl text-gray-800 font-bold leading-none mb-3">How are you feeling today?</h2>
        <div class="lg:flex justify-center">
          <% if @last_feeling.nil? %>
            <%= render 'placeholder_graph' %>
            <%= render 'new_feeling', user_feeling: @new_feeling, class:"mt-5 md:mt-0"%>
          <% else %>
            <%= render 'mood_graph' %>
            <% unless @last_feeling.feeling_date == Date.today %>
              <%= render 'new_feeling', user_feeling: @new_feeling %>
            <% end %>
          <% end %>
        </div>
      <p class="text-orange-700 text-lg">You've been recording your mood for <span class="font-bold"><%= @current_streak %> days </span> now. Your longest streak is <span class="font-bold"><%= @longest_streak %> days</span>.</p>
      <p class="text-orange-600">Keep recording daily and keep making a beautiful graph. The more often you record your mood, the easier it is to notice negative patterns before they become problems and to notice positive patterns that you can keep in your life.</p>
      </div>
  <% end %>

  <!-- DIARY -->
  <div class="pt-3 p-4 md:px-24 mt-20">
    <h2 class="text-3xl text-gray-800 font-bold leading-none mb-3">Records</h2>
    <% if @user == current_user  %>
      <!-- NEW PUBLICATION BUTTON -->
          <div id="btn_new_goal" class="modal-open-new-post flex items-center cursor-pointer mb-5 bg-gray-200 rounded-lg border-2 border-gray-200 bg-white p-4 hover:border-gray-300 hover:bg-gray-300 transition-soft">
            <%= fa_icon "edit 2x", class: "mx-2 text-3xl text-gray-600" %>
            <p class="ml-2 text-lg font-bold text-gray-600 hover:text-gray-700 hover:underline">Create a new post</p>
          </div>
      <%= render 'publications/new_publication', publication: Publication.new %>
    <% end %>

    <%= render 'publications/publications_list', publications: @diary_publications %>
  </div>

</div>
