<div class="body bg-orange-100">
  <!-- MOOD SESSION -->

  <!-- <div class="p-4 md:px-24"> -->
    <!-- <h2 class="text-3xl text-purple-900 font-mono font-semibold">Mood Graph</h2> -->
    <!-- MOOD GRAPH -->
    <%#= render 'mood_graph' %>
  <!-- </div> -->

  <!-- GOALS SESSION -->
  <div class="flex justify-between mt-20 pt-3 p-4 md:px-24">
      <h2 class="text-3xl text-purple-900 font-mono font-semibold">Goals</h2>
      <!-- GOALS BUTTONS -->
      <% if current_user == @user %>
        <div class="flex">
          <!-- NEW GOAL BUTTON -->
          <div id="btn_new_goal" class="modal-open-new-goal cursor-pointer text-white bg-purple-600 text-sm font-semibold border-2 border-purple-600 px-3 py-1 h-8 mr-5 rounded-full hover:bg-purple-500 hover:border-purple-500 transition-soft">
            <span class="m-auto">NEW GOAL</span>
          </div>
          <!-- GOALS CARDS FLIP -->
          <div class=" flex rounded-full bg-orange-200 border-orange-200 border-2 p-1 w-48 h-8 items-center">
            <div id="my_goals_icon" class="active cursor-pointer inline-flex text-orange-400 rounded-full w-1/2 h-6">
              <span class="m-auto text-sm font-mono font-semibold">My Goals</span>
            </div>
            <div id="buddies_goals_icon" class=" cursor-pointer inline-flex text-orange-400 rounded-full w-1/2 h-6">
              <span class="m-auto text-sm font-mono font-semibold">Buddies</span>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <!-- GOALS CARDS -->
  <%= render 'goal_cards' %>

  <!-- FEELINGS -->
  <% if @user == current_user %>

    <% unless @feelings == [] %>
      <%= render 'new_feeling', user_feeling: @user_feeling, feelings: @feelings %>
    <% end %>

  <% end %>

  <!-- NEW GOAL MODAL -->
  <%= render 'goals/new_goal' %>

  <!-- NOTIFICATIONS -->
  <% @buddies_goals.each do |buddy_goal| %>
    <% if buddy_goal.confirmed_buddy == false %>
      <div class="notification">
        <p><%= link_to "#{buddy_goal.user.first_name}", user_path %> wants your help with the goal <%= link_to "#{buddy_goal.title}", goal_path(buddy_goal) %>! Can you help? </p>
        <%= link_to 'Yes!', confirm_buddy_goal_path(buddy_goal) %>
        <%= link_to 'No, sorry :/', cancel_buddy_goal_path(buddy_goal) %>
      </div>
    <% end %>
  <% end %>

  <!-- DIARY -->
  <div class="pt-3 p-4 md:px-24 mt-20">
    <h2 class="text-3xl mb-5 text-purple-900 font-mono font-semibold">Diary</h2>
    <% if @user == current_user  %>
      <!-- NEW PUBLICATION BUTTON -->
          <div id="btn_new_goal" class="modal-open-new-post cursor-pointer text-white bg-purple-600 text-sm font-semibold border-2 border-purple-600 px-3 py-1 h-8 mr-5 rounded-full hover:bg-purple-500 hover:border-purple-500 transition-soft">
            <span class="m-auto">NEW PUBLICATION</span>
          </div>
      <%= render 'publications/form', publication: Publication.new %>
    <% end %>
    <%= render 'publications/publications_list', publications: @diary_publications %>
  </div>

</div>
