<div class="bg-gray-100 pt-20 h-full">
  <div class="lg:flex min-h-screen md:p-10">
    <!-- SIDEBAR -->
    <div class="flex-column content-between mr-16"></div>
    <!-- MAIN COLUMN -->
    <div class="flex-column w-full">
      <!-- HEADER -->
      <!-- large screens -->
      <div class="hidden lg:block">
        <div class="h-48 overflow-hidden -mx-40 -mt-10 items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/127577/nature-stars-night-galaxy-127577.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
        </div>

        <div class="my-2 ml-10 h-auto flex items-center -mt-32">
          <%= cl_image_tag @user.photo, height: 150, width: 150, crop: :fill, class: "border-4 border-gray-200 rounded-full h-auto object-contain float-none shadow-md" %>
          <div class="ml-10">
            <h1 class="text-4xl text-white font-mono font-semibold mt-3"><%= @user.first_name %> <%= @user.last_name %></h1>
            <p class="text-lg text-gray-200 mb-2 -mt-2"><%= fa_icon "fas map-marker" %>   <%= @user.city %></p>
          </div>
        </div>

          <div class="ml-auto -mt-16 mr-5 h-16 w-16 bg-orange-500 rounded-full text-white hover:cursor-pointer hover:bg-orange-400  text-center pt-3 transition-soft shadow-md">
            <%= link_to rooms_path(@user), method: 'post' do %>
              <%= fa_icon "far comments 2x mt-1" %>
            <% end %>
          </div>

      </div>

      <!-- small screens -->
      <div class="lg:hidden">
        <div class="h-24 overflow-hidden items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/127577/nature-stars-night-galaxy-127577.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
        </div>

        <div class="my-2 h-auto items-center -mt-12">
          <%= cl_image_tag @user.photo, height: 90, width: 90, crop: :fill, class: "border-2 border-gray-200 rounded-full h-auto object-contain float-none shadow-md m-auto" %>
          <div class="text-center m-auto">
            <p class="text-xl text-purple-700 font-mono font-semibold mt-3"><%= @user.first_name %></p>
            <p class="text-xl text-purple-700 font-mono font-semibold mb-2"><%= @user.last_name %></p>
            <p class="text-sm text-gray-500 mb-2 -mt-2"><%= fa_icon "fas map-marker" %>    <%= @user.city %></p>
          </div>
        </div>

        <div class="absolute right-0 top-0 mr-5 mt-24 h-8 w-8 pt-1 bg-orange-500 rounded-full text-white hover:cursor-pointer hover:bg-orange-400  text-center transition-soft shadow-md">
          <%= fa_icon "far comments mt-1" %>
        </div>
      </div>


      <!-- CONTENT -->
      <div class="">
        <div id="menu-news-list" class="transition-soft transition-delay">
          <!-- BADGES
          <div class="lg:flex justify-between items-end">
            <div class="pt-5 px-5 pb-2 border-b">
              <a class="transition-soft uppercase font-bold text-gray-700 text-lg pb-2 mr-8 hover:text-gray-900" href="#" onClick='document.getElementById("badges-btn").classList.toggle("text-gray-900");
              document.getElementById("badges").classList.toggle("hidden")'>
                <span id='badges-btn' class="">Badges</span>
                <%= fa_icon "caret-down", class: "mx-2 border border-gray-400 rounded-full w-4 h-4 text-center text-gray-600" %>
              </a>
            </div>
          </div>
          <div id="badges" class="hidden flex justify-center py-2">
            BADGEEEES PLACEHOLDER
          </div> -->

          <!-- GOALS -->
          <div class=" mt-5 py-5 pl-5 md:pr-5 border-2 border-gray-200 md:rounded-lg bg-gray-200">
            <div class="lg:flex justify-between items-end">
              <p class="transition-soft uppercase font-bold text-gray-700 text-md pb-2 selected text-lg">
                Goals</p>
            </div>
            <%= render 'goal_cards', id:"goals" %>

            <!-- PAST GOALS -->
            <div class="lg:flex justify-between items-end">
              <div class="">
                <a id="past-goals-btn" class="transition-soft italic text-orange-500 text-sm pb-2 mr-8 hover:underline" href="#" onClick='
                document.getElementById("past-goals").classList.toggle("hidden");
                document.getElementById("past-goals-btn").classList.toggle("hidden");'>
                See completed goals
                </a>
              </div>
            </div>
            <div id="past-goals" class="hidden flex justify-center py-2 border-t mt-3">
              <!-- GOALS COMPLETED -->
              <%= render 'goal_completed_cards' %>
            </div>
          </div>
        </div>



        <!-- DIARY -->
        <div class=" mt-5 p-5">
          <div class="lg:flex justify-between items-end mb-3">
            <p class="transition-soft uppercase font-bold text-gray-700 text-md pb-2 selected text-lg">
              Records</p>
              <div class="mt-2 lg:block pb-2">
                <%= form_tag user_path, method: :get, class:"inline-flex" do %>
                  <%= text_field_tag :query,
                    params[:query],
                    placeholder: "Find a publication",
                    class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  %>
                  <%= button_tag(type: "submit", class: "ml-2 py-1 px-2 border border-gray-300 text-md text-gray-600 bg-gray-300 rounded-lg cursor-pointer") do %>
                      <%= fa_icon "search" %>
                  <% end %>
                <% end %>
              </div>
          </div>
          <div class="flex justify-center py-2">
            <%= render 'publications/publications_list', publications: @diary_publications %>
          </div>
        </div>
      </div>
  </div>
</div>
