<div id="navbar" class="font-sans w-full m-0 bg-white shadow h-67">

    <div class="hidden sm:inline-block absolute bg-purple-900 h-1 my-0 p-0 w-full"></div>

    <div class="mx-3 px-4 justify-between">
      <div class="flex items-center justify-between py-4">

        <!-- SMALL SCREEN MENU ICON -->
        <div id="menu-icon" class="sm:hidden cursor-pointer text-gray-700 text-lg font-semibold px-2 py-1 rounded-lg hover:text-purple-500 hover:border-purple-500">
          <%= fa_icon "bars" %>
        </div>

        <!-- LOGO -->
        <div class="inline text-xl align-middle">
          <%= fa_icon "walking", class: "mx-2 text-purple-900" %>
          <span class="text-purple-900 font-bold">NEXT STEP</span>
        </div>

        <!-- LARGE SCREEN TABS -->
        <div class="hidden sm:flex sm:items-center">

          <% unless current_user.nil? %>
            <h1><%= link_to "Dashboard", dashboard_path(current_user),
              class:"text-gray-700 text-sm font-semibold hover:text-purple-600 mr-4" %></h1>
          <% end %>


          <h1><%= link_to "Community", communities_path,
          class:"text-gray-700 text-sm font-semibold hover:text-purple-600 mr-4" %></h1>

        </div>

        <!-- LARGE SCREEN BUTTONS -->
        <% if !current_user %>
          <div class="hidden sm:flex sm:items-center">
            <%= link_to "Sign in", new_user_session_path,
            class:"text-gray-700 border-gray-600 text-sm font-semibold hover:text-white hover:bg-gray-600 mr-4 border-2 px-4 py-2 rounded-full transition-soft" %>
            <%= link_to "Sign up", new_user_registration_path,
            class:"text-white bg-blue-600 text-sm font-semibold border-2 border-blue-600 px-4 py-2 rounded-full hover:bg-blue-500 hover:border-blue-500 transition-soft" %>
          </div>
        <% end %>

        <!-- AVATAR -->
        <div id="avatar-icon" class="cursor-pointer px-2 py-1 rounded-lg">
          <% if current_user %>
            <%= image_tag "icons/avatar.png", class:"h-8 w-8"%>
          <% end %>
        </div>
      </div>

    <!-- SMALL SCREEN MENU LIST -->
    <div id="menu-list" class="block hidden sm:hidden bg-white border-t-2 border-gray-200 py-2 transition-soft">

      <!-- SMALL SCREEN TABS -->
      <div class="flex flex-col">

        <% unless current_user.nil? %>
          <h1><%= link_to "Dashboard", dashboard_path(current_user),
            class:"text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1" %></h1>
        <% end %>


        <h1><%= link_to "Community", communities_path,
        class:"text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1" %></h1>
        <h1><%= link_to "Other", "#",
        class:"text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1" %></h1>

        <!-- SMALL SCREEN BUTTONS -->
        <% if !current_user %>
          <div class="flex justify-between items-center border-t-2 border-gray-200 pt-2">
            <%= link_to "Sign in", new_user_session_path,
            class:"text-gray-700 border-gray-600 text-sm font-semibold hover:text-white hover:bg-gray-600 mr-4 border-2 px-3 py-1 rounded-full transition-soft" %>
            <%= link_to "Sign up", new_user_registration_path,
            class:"text-white bg-blue-600 text-sm font-semibold border-2 border-blue-600 px-3 py-1 rounded-full hover:bg-blue-500 hover:border-blue-500 transition-soft" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- DROPDOWN FROM AVATAR -->
<div id="dropdown-list" class="hidden absolute rounded bg-gray-100 shadow-md right-0 w-48 text-right pr-5">
  <ul>

    <li>
      <%= link_to "Other", "#",
    class:"text-sm text-gray-800 font-semibold px-3 py-1 block hover:bg-gray-200 cursor-pointer" %></li>
    <hr class="border-gray-200 w-11/12 m-auto">
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete,
    class:"text-sm text-gray-600 px-3 py-1 block hover:bg-gray-200 cursor-pointer pb-2" %></li>
  </ul>
</div>
