<div id="navbar" class="fixed font-sans w-full m-0 bg-white shadow h-67 z-30">

    <div class="hidden sm:inline-block absolute bg-purple-900 h-1 my-0 p-0 w-full"></div>

    <div class="mx-3 px-4 justify-between">
      <div class="flex items-center justify-between py-4">

        <!-- SMALL SCREEN MENU ICON -->
        <div id="menu-icon" class="sm:hidden cursor-pointer text-gray-700 text-lg font-semibold px-2 py-1 rounded-lg hover:text-purple-500 hover:border-purple-500">
          <%= fa_icon "bars" %>
        </div>

        <!-- LOGO -->
        <div class="inline text-lg md:text-xl align-middle m-auto pr-8 sm:m-0 sm:pr-0">
          <%#= fa_icon "walking", class: "mx-2 text-purple-900" %>
          <span class="text-purple-900 font-bold">BUDDY STEPS</span>
        </div>

        <!-- LARGE SCREEN TABS -->
        <% unless current_user.nil? %>
          <div class="hidden sm:flex sm:items-center pt-3">

            <h1><%= link_to "Dashboard", dashboard_path,
              class:"uppercase text-gray-700 text-md font-semibold hover:text-purple-600 mr-4" %></h1>

            <h1><%= link_to "Community", communities_path,
            class:"uppercase text-gray-700 text-md font-semibold hover:text-purple-600 mr-4" %></h1>
          </div>
        <% end %>

        <!-- LARGE SCREEN BUTTONS -->
        <% if !current_user %>
          <div class="hidden sm:flex sm:items-center">
            <%= link_to "Sign in", new_user_session_path,
            class:"text-gray-700 text-sm font-semibold hover:underline hover:text-gray-900 mr-4 px-4 py-2 rounded-full transition-soft" %>
            <%= link_to "Sign up", new_user_registration_path,
            class:"text-white bg-orange-500 text-sm font-semibold border-2 border-orange-500 px-4 py-2 rounded-full hover:bg-orange-600 hover:border-orange-600 transition-soft" %>
          </div>
        <% end %>

        <!-- AVATAR -->
        <% if current_user %>
         <div id="avatar-icon" class="cursor-pointer px-2 py-1 rounded-lg"  onClick='document.getElementById("dropdown-list").classList.toggle("hidden")'>
            <% if current_user.photo.present? %>
             <%= cl_image_tag(current_user.photo, :transformation=>[
             {width: 50, height: 50, gravity: :face, radius: :max, crop: :thumb}
             ]) %>
            <% else %>
              <%= image_tag "icons/avatar.png", class:"h-8 w-8"%>
            <% end %>
          </div>
        <!-- DROPDOWN FROM AVATAR -->
        <div id="dropdown-list" class="hidden absolute rounded bg-gray-100 shadow-md right-0 w-48 text-right pr-5 z-40 mt-16">
          <ul>

            <li>
              <%= link_to "Profile", user_path(current_user),
            class:"text-sm text-gray-800 font-semibold px-3 py-1 block hover:bg-gray-200 cursor-pointer" %></li>
            <hr class="border-gray-200 w-11/12 m-auto">
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete,
            class:"text-sm text-gray-600 px-3 py-1 block hover:bg-gray-200 cursor-pointer pb-2" %></li>
          </ul>
        </div>
        <% end %>
        </div>

    <!-- SMALL SCREEN MENU LIST -->
    <div id="menu-list" class="block hidden sm:hidden bg-white border-t-2 border-gray-200 py-2 transition-soft">

      <!-- SMALL SCREEN TABS -->
      <div class="flex flex-col">

        <% unless current_user.nil? %>
          <h1><%= link_to "Dashboard", dashboard_path,
            class:"text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1" %></h1>
        <% end %>


        <h1><%= link_to "Community", communities_path,
        class:"text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1" %></h1>
        <h1><%= link_to "Other", "#",
        class:"text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1" %></h1>

        <!-- SMALL SCREEN BUTTONS -->
        <% if !current_user %>
          <div class="flex justify-between items-center border-t-2 border-gray-200 pt-2">
            <%= link_to "Sign in", new_user_session_path,
            class:"text-gray-700 border-gray-600 text-sm font-semibold hover:text-white hover:bg-gray-600 mr-4 border-2 px-3 py-1 rounded-full transition-soft" %>
            <%= link_to "Sign up", new_user_registration_path,
            class:"text-white bg-orange-500 text-sm font-semibold border-2 border-orange-500 px-3 py-1 rounded-full hover:bg-orange-600 hover:border-orange-600 transition-soft" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
