<div class="room_message_group">
  <div class="flex justify-between bg-gray-300 text-gray-600 font-bold p-3 rounded-t-lg">
    <h4>#<%= @room.name %></h4>
    <div id="user-flash" class="bg-gray-300 text-gray-600 font-bold" >
      <button type="button" class="close pl-4">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="room-messages">
    <% @room_chat.room_messages.sort_by(&:created_at).each do |message| %>
    <%= render "room_messages/message", message: message, user_is_messages_author: message.user == current_user %>
    <% end %>
  </div>
  <div id="create-message" class="">
    <%= simple_form_for [ @room_chat, RoomMessage.new ], remote: true, html: {autocomplete: "off" } do |f| %>
      <%= f.input :content, as: :text, label: false, placeholder: "Type your message..." %>
      <%= button_tag(type: 'submit', id: "btn-custom3", class:" mattr_accessor :attr_names-0 mr-3 mt-1") do %>
        <%= fa_icon "paper-plane" %>
        <% end %>
    <% end %>
  </div>
</div>
<% content_for :after_js do %>
<script>
  App['room_<%= @room.id %>'] = App.cable.subscriptions.create(
    { channel: 'RoomsChannel', room_id: <%= @room.id %> },
    {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          var messagesContainer = document.querySelector('.room-messages');
            // class diferent for prevent conflict
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            messagesContainer.scrllTop = messagesContainer.scrollHeight;
          }
        },
        connected() {
          // console.log('connected');
        }
      }
      )
    </script>
    <% end %>
