<div class="body">
 <!-- show room -->
 <div>
  <% if @rooms.empty? %>
   <%=  render 'placeholder_chat' %>
  <% end %>


   <!-- show messages -->
   <div class="md:flex w-full">
     <div id="user-list" class="md:w-64 flex md:block items-center mt-2 md:mt-0 overflow-x-scroll md:overflow-y-scroll flex-no-wrap scroll sm:flex-wrap sm:overflow-visible">
       <% @rooms.sort_by(&:name).each do |room| %>
       <%= link_to room_path(room) do %>
       <div class="form-actions mb-2">
         <%#= link_to 'Back', dashboard_path(current_user), class: 'btn btn-danger' %>
         <% if room.user == current_user %>
         <div class="scroll-card flex items-center pb-2 md:border-b md:h-full">
           <%= cl_image_tag room.partner.photo, height: 40, width: 40, crop: :fill, class: "border-2 border-gray-200 rounded-full object-contain float-none ml-3 md:ml-1 " %>
           <p class="hidden md:block cursor-pointer text-gray-700  text-sm font-semibold px-3 py-1 h-8 hover:text-gray-900 transition-soft flex-grow-0" ><%= room.partner.first_name %></p>
         </div>

         <% else %>
         <div class="scroll-card flex items-center pb-2 md:border-b">
           <%= cl_image_tag room.user.photo, height: 40, width: 40, crop: :fill, class: "border-2 border-gray-200 rounded-full object-contain float-none ml-3 md:ml-1 h-24" %>
           <p class="hidden md:block cursor-pointer text-gray-700  text-sm font-semibold px-3 py-1 h-8 hover:text-gray-900 transition-soft flex-grow-0" ><%= room.user.first_name %></p>
         </div>
         <% end %>
       </div>
       <% end %>
       <% end %>
     </div>
     <% unless @room_chat.nil? %>
       <div class="w-full ">
         <%= render 'room_chat', class: "w-full" %>
       </div>
     <% end %>
   </div>
   <!-- new message -->
   <div>
   </div>
 </div>
</div>
