<div class="h-auto">
  <div class="bg-gray-300 text-gray-600 font-bold p-3 rounded-t-lg">Chat with your buddy!</div>
  <div class="messages">
    <% @goal_chat.messages.sort_by(&:created_at).each do |message| %>
      <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
    <% end %>
  </div>
  <div>
    <%= simple_form_for [ @goal_chat, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
      <%= f.input :content, as: :text, label: false, placeholder: "Type your message..." %>
      <%= button_tag(type: 'submit', id: "btn-custom3", class:" mattr_accessor :attr_names-0 mr-3 mt-1") do %>
        <%= fa_icon "paper-plane" %>
        <% end %>
    <% end %>
  </div>
</div>
<% content_for :after_js do %>
  <script>
    App['goal_<%= @goal.id %>'] = App.cable.subscriptions.create(
      { channel: 'GoalChatChannel', goal_id: <%= @goal.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            var messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          }
        },
        connected() {
        }
      }
    )
  </script>
<% end %>
