<h3>Add a new goal</h3>
<%= simple_form_for @goal do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.association :category %>
  <%= f.button :submit %>
<% end %>
