<div class="container flex-col md:flex md:m-10">
  <div class="md:w-2/3">
    <h2 class="text-purple-800 font-bold text-2xl ml-5">Goal: <%= @goal.title.capitalize %></h2>
    <h2 class="text-gray-900 text-xl ml-5 my-10">Description: <%= @goal.description %></h2>

    <h3 class="text-gray-900 text-base ml-5">Days since goal started: <%= (@goal.start_date - Date.today).to_i %></h3>
    <h3 class="text-gray-900 text-base ml-5">Deadline: <%= @goal.deadline %></h3>

    <% if @goal.user == current_user %>
      <%= link_to goal_path(@goal), method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
        <%= fa_icon "trash alt" %>
      <% end %>
      <hr>
      <%= link_to edit_goal_path(@goal) do %>
        <p>EDIT</p>
      <% end %>
    <% end %>

    <%= render 'milestones' %>
  </div>

  <div class="border-l"></div>

  <% if @goal.confirmed_buddy == true && ( @goal.user == current_user || @goal.buddy == current_user ) %>
    <div class="md:w-1/3">
      <h2 class="text-purple-800 font-bold text-2xl ml-5">Chat</h2>
      <%= render 'chat', class: "my-10" %>
    </div>

  <% end %>
</div>
