<div class="max-w-4xl flex items-center h-auto flex-wrap mx-auto lg:mt-5 lg:my-5 lg:flex-no-wrap">

  <!--Main Col-->
  <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 lg:mx-6 lg:mx-0">


    <div class="p-4 md:p-12 text-center lg:text-left">
      <!-- INFO ABOUT GOAL -->
      <div class="flex justify-center lg:justify-start">
        <h1 class="text-3xl font-bold pt-8 lg:pt-0"><%= @goal.title.capitalize %></h1>

        <!-- ONLY SHOW EDIT/DELETE GOAL IF CURRENT_USER == GOAL.USER_ID -->
        <% if @goal.user == current_user %>
          <%= link_to goal_path(@goal), method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
            <%= fa_icon "trash alt", class: "mr-2 text-lg text-teal-700" %>
          <% end %>
          <%#= link_to edit_goal_path(@goal) do %>
          <%= fa_icon "edit", class: "modal-open-goal mr-2 text-lg text-teal-700" %>
          <%# end %>
        <% end %>
      </div>

      <!-- MODAL -->
      <% if current_user == @user %>
        <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
          <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
            <span class="text-sm">(Esc)</span>
          </div>
          <!-- Add margin if you want to see some of the overlay behind the modal-->
          <div class="modal-content py-4 text-left px-6">
            <!--Title-->
            <div class="flex justify-between items-center pb-3">
              <p class="text-2xl font-bold">Edit your goal</p>
              <div class="modal-close cursor-pointer z-50">
                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
              </div>
            </div>
            <!--Body-->
            <%#= render 'goals/new_form', goal: @goal %>
           <%= simple_form_for @goal do |f| %>
             <%= f.error_notification %>
             <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

             <%= f.input :title %>
             <%= f.input :description %>
             <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
             <%= f.association :category %>
            <!--Footer-->
            <div class="flex justify-end pt-2">
              <%= f.button :submit, class: "px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2" %>
              <!-- <button class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">Action</button> -->
            <% end %>
              <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
            </div>
          </div>
        </div>
      <% end %>

      <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-teal-500 opacity-25"></div>
      <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
       Description: <%= @goal.description %></p>
      <p class="pt-2 text-gray-600 text-xs lg:text-sm flex items-center justify-center lg:justify-start"><%= fa_icon "calendar alt", class:" h-4 fill-current text-teal-700 pr-4" %> Deadline: <%= @goal.deadline %> | <span class="font-bold">Days since goal started: <%= (@goal.start_date - Date.today).to_i %></span></p>

      <!-- MILESTONES -->
      <div class="block pt-8 text-sm">
        <%= render 'milestones', class:"mx-auto" %>
      </div>

      <div class="flex bg-teal-700 text-white font-bold py-2 px-4 rounded-full mt-8 items-center">
        <%= cl_image_tag @goal.buddy.photo, height: 35, width: 35, crop: :fill, class: "mr-2 rounded-full h-auto object-contain float-none border-2 border-white" %>
        <p class="pr-2">
          Buddy for this goal:
          <% if @goal.confirmed_buddy == true %>
            <%= link_to "#{@goal.buddy.first_name} #{@goal.buddy.last_name}", user_path %>
          <% else %>
            We are trying to find someone for you!
          <% end %>
        </p>
      </div>
    </div>

  </div>

  <!--Img Col-->
  <div class="w-full mt-6 lg:mx-0 lg:w-2/5 flex-grow">
    <!-- class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block" -->
    <!-- ONLY SHOW CHAT FOR USER & BUDDY -->
    <% if @goal.confirmed_buddy == true && ( @goal.user == current_user || @goal.buddy == current_user ) %>
      <%= render 'chat', class: "w-full" %>
    <% end %>
  </div>
</div>
