<% if current_user.communities.include?(@community) %>
<div>
  <h3>Start a new discussion or question thread</h3>
  <%= render 'publications/form', community: @community, publication: @publication %>
</div>
<% end %>


  <%= form_tag community_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a publication"
    %>
    <%= submit_tag "Search", class: "" %>
  <% end %>

<div class="w-3/4 m-auto">
  <%= render 'publications/publications_list', publications: @community_publications %>
</div>
