<% if user_signed_in? %>
  <!-- INDEX FOR LOGGED IN USERS -->
  <div class="md:p-10 bg-gray-100 body ">
    <h2 class="text-purple-800 font-bold text-2xl my-8">Communities</h2>
    <div class="flex mb-24">
      <div class="">
        <% current_user.communities.each do |community| %>
          <%= link_to community_path(community) do %>
            <%= render 'user_community_card', community: community %>
          <% end %>
        <% end %>
      </div>

      <div class="border-l mx-5"></div>

      <div class="flex">
        <% @communities.in_groups_of(2, false).each do |community_pair| %>
          <div class="flex flex-col justify-between mx-1">
            <% community_pair.each do |community| %>
              <%= link_to community_path(community) do %>
                <%= render 'other_community_card', community: community %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <h2 class="text-purple-800 font-bold text-2xl mb-8">Recent activity</h2>
    <%= render 'publications/publications_list', publications: @all_publications %>
  </div>

<% else %>
  <!-- LANDING PAGE -->
  <%= render 'landing' %>

<% end %>

