<% if user_signed_in? %>
  <!-- INDEX FOR LOGGED IN USERS -->
  <div class="py-10 px-2 md:px-10 bg-gray-100 body md:px-48">
    <h2 class="text-purple-800 font-bold text-2xl my-8">Communities</h2>
    <div class="flex flex-col items-center md:flex-row mb-16">
      <% current_user.communities.each do |community| %>
        <%= link_to community_path(community) do %>
          <%= render 'user_community_card', community: community %>
        <% end %>
      <% end %>

      <%= render 'other_community_card', communities: @communities %>
    </div>

    <h2 class="text-purple-800 font-bold text-2xl mb-8">Recent activity</h2>
    <%= render 'publications/publications_list', publications: @all_publications %>
  </div>

<% else %>
  <!-- LANDING PAGE -->
  <%= render 'landing' %>

<% end %>

