<%= simple_form_for @user_feeling, url: user_feelings_path do |f| %>
  <div class="form-inputs">
    <%= f.association :feeling, label: "Your specialty", include_hidden: false %>
    <%= f.input :intensity, collection: [1, 2, 3, 4, 5] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back',
                dashboard_path(current_user),
                class: 'btn btn-danger' %>
  </div>
<% end %>
